Temp/
Library/
obj/
*.svd
 
!Library/*.asset
!Library/AssetImportState
!Library/AssetVersioning.db
!Library/BuildPlayer.prefs
!Library/ScriptMapper
!Library/assetservercachev3
!Library/expandedItems
!Library/guidmapper
!Library/unity default resources
!Library/unity editor resources
 
/Code/Project.userprefs
/Code/Assembly-CSharp.csproj
/Code/Assembly-CSharp.pidb
/Code/Assembly-CSharp-Editor.csproj
/Code/Assembly-CSharp-Editor.pidb
/Code/Assembly-CSharp-Editor-vs.csproj
/Code/Assembly-CSharp-firstpass.csproj
/Code/Assembly-CSharp-firstpass.pidb
/Code/Assembly-CSharp-firstpass-vs.csproj
/Code/Assembly-CSharp-vs.csproj
/Code/Assembly-UnityScript-firstpass.pidb
/Code/Assembly-UnityScript-firstpass.unityproj
/Code/Assembly-UnityScript-firstpass-vs.unityproj
/Code/MiniJam.suo